body{
    background-image: url("https://cdn.allwallpaper.in/wallpapers/2560x1440/12741/fruits-food-ice-cream-desserts-july-tiramisu-2560x1440-wallpaper.jpg");
    align-content: center;
    text-align: center;
}
.signin{
    padding-right: 30px;
    padding-left: 100px;
    width: 90px;
    border: black;
    color: cornsilk;
}
p.sign_up{
    color: antiquewhite;
    text-align: inherit;

}