body {
    background-image: url("https://images7.alphacoders.com/382/382535.jpg");
    text-align: center; 
    align-content: center;
}

a {
    color: antiquewhite;
}
p {
    color:navy;

}

.field_Set{
    padding: 100px;
}
input {
    width: 200px;
    border: white;
    height: 25px;
    
}